
/* ---------------------------	
	COLORS		
------------------------------------------------------------------------------------------------------- */
$colorHeader: 	#14868c;

$colorPrimary: 	#0f6467;
$colorDanger: 	#ff7e55;
$colorInfo: 		#00BCD4;
$colorSuccess: 	#607D8B;

$colorWhite: 	#ffffff;
$colorText: 	#424242;
$colorBackground:#fefefe;

$colorOff: #7d7d7d;
$colorOn: #14868c;

$colorNav: darken($colorHeader, 8%);

$colorBorder: #dddddd;

$colorStripedTable:#fcfcfc;